html, body, #map, map.container {
	padding: 0;
	margin: 0;
	height: 100%;
	overflow: hidden;
}
#tools {
	position: fixed;
	right: 0;
	z-index: 1;
}

.ui-layer-list li {
	list-style-type: none;
}

.ui-layer-list-item-remove-layer-link {
	text-decoration: none;
	position: absolute;
	right: 0;
	padding-right: 0.5em;
	visibility: hidden;
}
.ui-layer-list-item:hover .ui-layer-list-item-remove-layer-link {
	visibility: visible;
}

