html, body, #map, map.container {
	padding: 0;
	margin: 0;
	height: 100%;
	overflow: hidden;
}
#tools {
	position: fixed;
	right: 0;
	z-index: 1;
}

.ui-layer-list li {
	list-style-type: none;
}

.ui-layer-list-item-tools {
	display: inline;
	position: absolute;
	right: 0;
	padding-right: 0.5em;
	visibility: hidden;
}

.ui-layer-list-item-tools a {
	text-decoration: none;
}

.ui-layer-list-item:hover .ui-layer-list-item-tools {
	visibility: visible;
}

#map progress {
	position: absolute;
	bottom: 0;
	width: 100%;
	z-index: 31;
}

.agol-browser > form > input {
	width: 100%
}